Importation of important Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
import seaborn as sns
warnings.filterwarnings('ignore')
%matplotlib inline

Reading the Url Of Dataset

In [3]:
url = "https://www.worldometers.info/co2-emissions/"
df = pd.read_html(url)

Head of dataset

In [9]:
df = pd.read_html(url)[0]
df.head()

,#,Country,"CO2 emissions (tons, 2022)",1 Year Change,Population (2022),Per Capita,Share of World
0,1,China,12667428430,−0.39%,1425179569,8.89,32.88%
1,2,United States,4853780240,1.78%,341534046,14.21,12.60%
2,3,India,2693034100,6.52%,1425423212,1.89,6.99%
3,4,Russia,1909039310,−1.22%,145579899,13.11,4.96%
4,5,Japan,1082645430,0.65%,124997578,8.66,2.81%

Data Shape

In [10]:
df.shape

(206, 7)

Number Of columns

In [11]:
df.columns

Index(['#', 'Country', 'CO2 emissions (tons, 2022)', '1 Year Change',
       'Population (2022)', 'Per Capita', 'Share of World'],
      dtype='object')

Descfriptive Statistics

In [12]:
df.describe()

                #  CO2 emissions (tons, 2022)  Population (2022)  Per Capita
count  206.000000                2.060000e+02       2.060000e+02  206.000000
mean   103.500000                1.812282e+08       3.880763e+07    4.666748
std     59.611241                9.734559e+08       1.457027e+08    7.258890
min      1.000000                2.110000e+03       3.490000e+03    0.030000
25%     52.250000                1.713200e+06       1.289940e+06    0.810000
50%    103.500000                1.111598e+07       7.348054e+06    2.590000
75%    154.750000                6.150142e+07       2.806796e+07    5.582500
max    206.000000                1.266743e+10       1.425423e+09   76.410000

Defining a new dataFrame of Columns of interest

In [ ]:
df2 = df[['Country', '2025', '2024', '2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015']]