Importation of important Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
import seaborn as sns
warnings.filterwarnings('ignore')
%matplotlib inline

Reading the Url Of Dataset

In [3]:
url = "https://www.worldometers.info/co2-emissions/"
df = pd.read_html(url)

Head of dataset

In [9]:
df = pd.read_html(url)[0]
df.head()

,#,Country,"CO2 emissions (tons, 2022)",1 Year Change,Population (2022),Per Capita,Share of World
0,1,China,12667428430,−0.39%,1425179569,8.89,32.88%
1,2,United States,4853780240,1.78%,341534046,14.21,12.60%
2,3,India,2693034100,6.52%,1425423212,1.89,6.99%
3,4,Russia,1909039310,−1.22%,145579899,13.11,4.96%
4,5,Japan,1082645430,0.65%,124997578,8.66,2.81%

Data Shape